#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #f90d66;
}
#ext_menu-0 .mbr-navbar__section {
  background: #f90d66;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #fac51c;
}
#msg-box3-1n .mbr-header .mbr-header__text {
  text-align: center;
  color: #fac51c;
}
#msg-box3-1n .mbr-header .mbr-header__subtext {
  text-align: center;
}
#header3-f H3 {
  color: #f90d66;
  text-align: center;
}
#header3-f I {
  color: #fac51c;
}
#content4-11 .mbr-section__col .mbr-header__text {
  color: #f90d66;
  text-align: left;
}
#content4-1o .mbr-section__col .mbr-header__text {
  color: #f90d66;
}
#ext_menu-a .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-a.mbr-navbar--stuck .mbr-navbar__section {
  background: #f90d66;
}
#ext_menu-a .mbr-navbar__section {
  background: #f90d66;
}
#ext_menu-a .mbr-navbar__hamburger {
  color: #fac51c;
}
#form1-d .mbr-header__text {
  color: #f90d66;
}
#ext_menu-7 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-7.mbr-navbar--stuck .mbr-navbar__section {
  background: #f90d66;
}
#ext_menu-7 .mbr-navbar__section {
  background: #f90d66;
}
#ext_menu-7 .mbr-navbar__hamburger {
  color: #fac51c;
}
#header4-9 H1 {
  color: #f90d66;
}
#ext_menu-1g .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-1g.mbr-navbar--stuck .mbr-navbar__section {
  background: #f90d66;
}
#ext_menu-1g .mbr-navbar__section {
  background: #f90d66;
}
#ext_menu-1g .mbr-navbar__hamburger {
  color: #fac51c;
}
#header3-1z H3 {
  text-align: center;
  color: #f90d66;
}
#ext_menu-1v .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-1v.mbr-navbar--stuck .mbr-navbar__section {
  background: #f90d66;
}
#ext_menu-1v .mbr-navbar__section {
  background: #f90d66;
}
#ext_menu-1v .mbr-navbar__hamburger {
  color: #fac51c;
}
#content5-1x .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-1x .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-1x .mbr-article {
  color: #fff;
}
#content5-1x .mbr-header .mbr-header__text DIV {
  text-align: left;
  color: #f90d66;
}
#ext_menu-21 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-21.mbr-navbar--stuck .mbr-navbar__section {
  background: #f90d66;
}
#ext_menu-21 .mbr-navbar__section {
  background: #f90d66;
}
#ext_menu-21 .mbr-navbar__hamburger {
  color: #fac51c;
}
#header3-22 H3 {
  text-align: center;
  color: #f90d66;
}
#content5-26 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-26 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-26 .mbr-article {
  color: #fff;
}
#content5-26 .mbr-header .mbr-header__text DIV {
  text-align: left;
  color: #f90d66;
}
