#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #f90d66;
}
#ext_menu-0 .mbr-navbar__section {
  background: #f90d66;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #fac51c;
}
#header3-f H3 {
  color: #f90d66;
  text-align: center;
}
#header3-f I {
  color: #fac51c;
}
#video1-g SMALL {
  color: #fac51c;
}
#video1-h SMALL {
  color: #fac51c;
}
#content4-11 .mbr-section__col .mbr-header__text {
  color: #f90d66;
  text-align: left;
}
#ext_menu-a .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-a.mbr-navbar--stuck .mbr-navbar__section {
  background: #f90d66;
}
#ext_menu-a .mbr-navbar__section {
  background: #f90d66;
}
#ext_menu-a .mbr-navbar__hamburger {
  color: #fac51c;
}
#form1-d .mbr-header__text {
  color: #f90d66;
}
#ext_menu-7 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-7.mbr-navbar--stuck .mbr-navbar__section {
  background: #f90d66;
}
#ext_menu-7 .mbr-navbar__section {
  background: #f90d66;
}
#ext_menu-7 .mbr-navbar__hamburger {
  color: #fac51c;
}
#header4-9 H1 {
  color: #f90d66;
}
#ext_menu-1g .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-1g.mbr-navbar--stuck .mbr-navbar__section {
  background: #f90d66;
}
#ext_menu-1g .mbr-navbar__section {
  background: #f90d66;
}
#ext_menu-1g .mbr-navbar__hamburger {
  color: #fac51c;
}
